dataset/ASCAD_data.zip
dataset/ASCAD_data/compressed_ascadv2_attack_labels.npy
dataset/ASCAD_data/compressed_ascadv2_attack_trace.npy
dataset/ASCAD_data/compressed_ascadv2_labels.npy
dataset/ASCAD_data/compressed_ascadv2_trace.npy
dataset/ASCAD_data/processed_attack_traces_byte_0.npy
dataset/ASCAD_data/processed_attack_traces_byte_3.npy
dataset/ASCAD_data/processed_attack_traces_byte_4.npy
dataset/ASCAD_data/processed_dataset_byte_0.npy
dataset/ASCAD_data/processed_dataset_byte_3.npy
dataset/ASCAD_data/processed_dataset_byte_4.npy
dataset/ASCAD_data/ASCAD_databases/ASCAD_desync50.h5
dataset/ASCAD_data/ASCAD_databases/ASCAD_desync100.h5
dataset/ASCAD_data/ASCAD_databases/ASCAD.h5
dataset/ASCAD_data/ASCAD_databases/ascadv2-extracted.h5
dataset/ASCAD_data/ASCAD_databases/ATMega8515_raw_traces.h5
dataset/ASCAD_data/ASCAD_trained_models/cnn_best_ascad_desync0_epochs75_classes256_batchsize200.h5
dataset/ASCAD_data/ASCAD_trained_models/cnn_best_ascad_desync50_epochs75_classes256_batchsize200.h5
dataset/ASCAD_data/ASCAD_trained_models/cnn_best_ascad_desync100_epochs75_classes256_batchsize200.h5
dataset/ASCAD_data/ASCAD_trained_models/mlp_best_ascad_desync0_node200_layernb6_epochs200_classes256_batchsize100.h5
dataset/ASCAD_data/ASCAD_trained_models/mlp_best_ascad_desync50_node200_layernb6_epochs200_classes256_batchsize100.h5
dataset/ASCAD_data/ASCAD_trained_models/mlp_best_ascad_desync100_node200_layernb6_epochs200_classes256_batchsize100.h5
src/__pycache__/analysis.cpython-311.pyc
src/__pycache__/custom_mlp.cpython-311.pyc
src/__pycache__/metrics.cpython-311.pyc
src/__pycache__/utils.cpython-311.pyc
